/*
    You can add your own custom styles here.
*/

.image-container {
    display: flex;
    justify-content: start;
    column-gap: 75px;
    flex-wrap: wrap;
}

.image2-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}


body, .sidebar {
    background-color: #313131;
}

strong, b {
    color: #f37471; 
    font-weight: 600; // Utilisez un poids légèrement plus élevé pour plus de visibilité sans exagérer
}

body {
    background-color: #313131;
}

:root[data-scheme=dark] {
    --card-background: #3f3f3f; 
}
